*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.calculator{
    width: 300px;
    height: 450px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    border: 2px solid white;
    border-radius: 12px;
    overflow: hidden;
}

input{
    grid-area: 1/1/2/-1;
    font-size: 40px;
    font-weight: 700px;
    outline: none;
    text-align: end;
    background-color: rgb(243, 238, 238);
    color:black;
}

button{
    font-size: 35px;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 12px;
    background-color: lightblue;
}

button:hover{
    border: 2px solid white;
}

button :active{
    background-color: black;
    color: white;
}